@import "./reset.css";
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/RobotoRegular.eot');
    src: url('./fonts/RobotoRegular.eot') format('embedded-opentype'), url('./fonts/RobotoRegular.woff2') format('woff2'), url('./fonts/RobotoRegular.woff') format('woff'),
        url('./fonts/RobotoRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: Regular;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
	align-items: center;
}

.content {
    max-width: 1280px;
	text-align: center;
    margin: 0 auto;
}

.header {
    margin-top: 63px;
}

.title {
    font-family: 'Roboto';
    font-style: Regular;
    font-weight: 400;
    font-size: 80px;
}

.title-black {
    color: #000000;
}

.title-aqua {
    color: #4bcaff;
}

.list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border: 2px solid #ffffff;
    display: flex;
    gap: 1px;
    margin-top: 38px;
}

.list-item {
    text-align: center;
    flex-grow: 1;
    background-color: #35444f;
    padding-top: 24px;
    padding-bottom: 18px;
}

.list a {
    color: #ffffff;
}

.list-item:hover {
    background-color: #222f3a;
}

.main {
    margin-top: 48px;
    display: flex;
    justify-content: stretch;
    column-gap: 52px;
}

.menu {
    width: 344px;
    height: 399px;
    font-family: 'Roboto';
    font-style: Regular;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #485863;
}

.menu a {
    color: #485863;
}

.menu-item {
    padding: 26px 44px;
}

.menu-item:hover {
    text-align: center;
    background-color: #dbdbdb;
}

.menu-item:hover a {
    color: #000000;
}

.image {
    width: 885px;
    height: 529px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #485863;
}

.scale {
    width: 320px;
    height: 381px;
    transition: 1s;
}

.scale:hover {
    transform: scale(1.2);
}

.text {
    font-family: 'Roboto';
    font-style: Regular;
    font-size: 18px;
    line-height: 24px;
    color: #2c2c2c;
    margin-top: 37px;
    margin-bottom: 34px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #63696e7a;
    margin-top: 54px;
    margin-bottom: 30px;
}

.link {
    display: flex;
    justify-content: space-evenly;
}

.link-item {
    padding-left: 15px;
    padding-top: 24px;
    padding-bottom: 18px;
}

.link-item:first-child {
    padding-left: 40px;
}

.link-item a {
    font-family: 'Roboto';
    font-style: Regular;
    font-size: 28px;
    line-height: 28px;
    color: #0c1927;
}

.link-item:hover a {
    color: #3181a6;
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-color: #3181a6;
}

.copy {
    justify-items: end;
    font-family: 'Roboto';
    font-style: Regular;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-top: 25px;
    padding-right: 40px;
}

/*? стилі для кнопки "Змінити тему" */
.change-theme {
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #4bcaff;
	color: #ffffff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Змінюємо кольорову гаму на світлу */
.light-theme {
    --bg-color: #f8f8f8;
    --text-color: #ffffff;
    --accent-color: #ffffff;
	--lorem-color: #2c2c2c;
	--button-color: #35444f;
	
}

/* Змінюємо кольорову гаму на темну */
.dark-theme {
    --bg-color: #222f3a;
    --text-color: #ffffff;
    --accent-color: #4bcaff;
	--lorem-color: #ffffff;
	--button-color: #4bcaff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.list a {
    color: var(--accent-color);
}

.text {
	color: var(--lorem-color);
}

button.change-theme {
    background-color: var(--button-color);
    color: var(--text-color);
}
